#friends-display-link {
    text-align: center;
    display: block;
    background-color: #f7f7f7;
    padding: 12px 0px;
    margin-bottom: 5px;
}
#friends-display-link i {
    color: rgb(183, 183, 183);
}
.friends-screen {
    padding: 0px var(--horizontal-space);
}
.friends-screen__channel {
    margin-top: 13px;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    padding: 9px;
}
.friends-screen__channel-header {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgba(0, 0, 0, 0.5);
}